<!DOCTYPE html>

<html>

<head>
    <title>Flask Calculator</title>
</head>

<body>
    <h2>Simple Calculator</h2>
    {% if error %}
    <div style="color: red;">
        <strong>Error:</strong> {{ error }}
    </div>
{% endif %}

 <form method="POST">
        <input type="text" name="a" placeholder="Enter first number">
        <input type="text" name="b" placeholder="Enter second number">
        <select name="operation">
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
        </select>
        <button type="submit">Calculate</button>
    </form>

{% if result is not none %}
        <p>Result: {{ result }}</p>
    {% endif %}
</body>

</html>